---
import { replaceUrls } from "../utils/replaceUrls";
import { joinClasses } from "../utils/joinClasses";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faChevronDown } from "@fortawesome/free-solid-svg-icons";
type Props = {
  classes: string;
  styles: string;
  label: string;
  url: string;
};
const { classes, styles, label, url } = Astro.props;
const allClasses = joinClasses(classes, "group relative");
const href = replaceUrls(url, Astro.url.host);
---

<li class={allClasses} style={styles}>
  <a href={href}>
    {label}
    <FontAwesomeIcon className="text-xs pl-1" icon={faChevronDown} />
  </a>
  <ul
    class="z-20 hidden group-hover:block absolute top-full right-0 text-right whitespace-nowrap bg-event-horizon py-2 [&_a]:px-4 [&_a]:py-2 [&_a]:block"
  >
    <slot />
  </ul>
</li>
