---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faFacebook,
  faInstagram,
  faYoutube,
} from "@fortawesome/free-brands-svg-icons";
type Props = {
  classes: string;
  styles: string;
  service: string;
  url: string;
};

const { classes, styles, service, url } = Astro.props;
---

<div class={classes} style={styles}>
  {
    service === "facebook" && (
      <a href={url} class="text-3xl hover:text-blue-500" aria-label="Facebook">
        <FontAwesomeIcon icon={faFacebook} />
      </a>
    )
  }
  {
    service === "instagram" && (
      <a href={url} class="text-3xl hover:text-pink-500" aria-label="Instagram">
        <FontAwesomeIcon icon={faInstagram} />
      </a>
    )
  }
  {
    service === "youtube" && (
      <a href={url} class="text-3xl hover:text-red-500" aria-label="YouTube">
        <FontAwesomeIcon icon={faYoutube} />
      </a>
    )
  }
</div>
